<ion-view title="Profesores" style="">
    <ion-nav-buttons side="secondary">
      <button class="button button-icon icon ion-ios-compose" ng-click="openModal()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <label class="item item-input" style="">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="" type="search" ng-model="search">
            </label>
            <ion-item ng-repeat = "profesor in profesores | filter :search track by $index ">
                <h2>{{profesor.nombre}}</h2>
                <p>Edad: {{profesor.edad}} años</p>
                <p>Teléfono: {{profesor.telefono}}</p>
                <p>Email: {{profesor.email}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
<script id="nuevoProfesor.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-energized">
      <button class="button button-icon icon ion-android-cancel" ng-click="closeModal()"></button>
      <h1 class="title">Agregar Profesor</h1>
    </ion-header-bar>
    <ion-content>
      <form class="list">
          <label class="item item-input item-floating-label">
              <span class="input-label">Nombre</span>
              <input placeholder="Nombre" type="text" ng-model="form.nombre">
          </label>
          <label class="item item-input item-floating-label">
              <span class="input-label">Edad</span>
              <input placeholder="Edad" type="number" ng-model="form.edad">
          </label>
          <label class="item item-input item-floating-label">
              <span class="input-label">Teléfono</span>
              <input placeholder="Teléfono" type="tel" ng-model="form.telefono">
          </label>
          <label class="item item-input item-floating-label">
              <span class="input-label">Email</span>
              <input placeholder="Email" type="email" ng-model="form.email">
          </label>
          <label class="item item-input item-floating-label">
              <span class="input-label">Password</span>
              <input placeholder="Password" type="password" ng-model="helper.password">
          </label>
          <button class="button button-energized  button-block button-outline" ng-click="save()">Agregar</button>
          <!-- {{from}} -->
      </form>
    </ion-content>
  </ion-modal-view>
</script>
